.navbar-primary {
  background-color: black !important;
}

.navlinks {
  font-size: 20px;
  padding: 10px;
  color: #00a8a8;
}

.favorites {
  font-size: 20px;
  padding: 10px;
  color: #00a8a8;
  margin-left: 1200px;
}
