.navbar-primary {
  width: 100% !important;
}

.commerce{
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-shadow: 2px 2px #14213D;
}

.navlinks {
  font-size: 20px;
  margin: 5%;
  padding: 2%;
  color: #14213D;
}

.logoutButton{
  font-size: 20px;
  margin: 5%;
  padding: 2%;
  color: #14213D;
}

#logoutButton{
  background-color:#14213D;
  color: #E5E4E2;
}

.favorites {
  font-size: 20px;
  margin: 5%;
  padding: 2%;
  color: #14213D;
}

body{
  padding: 5%;
  background-color: #FCA311;
}

.websiteTitle{
  text-align: center;
  color: #14213D;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 300%;
  font-weight: bold;
  text-shadow: 2px 2px #79787869;
  padding-bottom: 5%;
}

.author{
  text-align: center;
  padding-top: 15%;
  font-size: 8px;
  font-weight: bold;
}

/* Login/Register pages */

.registerAll{
  background-color: #E5E4E2;
  border: solid #14213D;
  padding: 5%;
  box-shadow: 12px 12px 2px 1px rgba(41, 41, 41, 0.2)
}

#registerAll{
  border-radius: 25px;
  background: #E5E4E2;
  width: 90%;
  height: 100%;
}

.register{
  width: 60%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loginAll{
  background-color: #E5E4E2;
  border: solid #14213D;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 9%;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2)
}

#loginAll{
  border-radius: 25px;
  background: #E5E4E2;
  width: 90%;
  height: 100%;
}

.loginHere{
  width: 60%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.mb-3{
  width: 60%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.regButton{
  background-color: #14213D;
}

.loginButton{
  background-color: #14213D;
}

/* Landing Page */

.landingHello{
  color: #14213D;
  padding-top: 10%;
  padding-left: 15%;
}

.landingWel{
  color: #14213D;
  padding-left: 15%;
}

/* search */

.searchHeading{
  padding-top: 5%;
  color: #14213D;
  text-shadow: 2px 2px #79787869
}

.searchButton{
  background-color: #14213D;
  color: #E5E4E2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px;
  margin-bottom: 10%;
}

.clearButton{
  background-color: #14213D;
  color: #E5E4E2;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px
}

/* Images populated */

.movieCards{
  font-weight: bold;
  text-align: center;
}

.gameCards{
  font-weight: bold;
  text-align: center;
}

.musicCards{
  font-weight: bold;
  text-align: center;
}

.art{
  width: 40%;
  height: auto;
  border-radius: 10%;
  box-shadow: 12px 12px 2px 1px rgba(41, 41, 41, 0.2)
}

.image{
  width: 40%;
  height: auto;
  border-radius: 10%;
  box-shadow: 12px 12px 2px 1px rgba(41, 41, 41, 0.2)
}

.movieImg{
  border-radius: 10%;
  box-shadow: 12px 12px 2px 1px rgba(41, 41, 41, 0.2)
}

.addToFavButton{
  background-color: #14213D;
  color: #E5E4E2;
  text-align: center;
  margin-top: 1%;
  box-shadow: 5px 5px 1px .5px rgba(41, 41, 41, 0.2)
}

.deleteButton{
  background-color: #14213D;
  color: #E5E4E2;
  text-align: center;
  margin-top: 1%;
  box-shadow: 5px 5px 1px .5px rgba(41, 41, 41, 0.2)
}

.gameFavButton{
  background-color: #14213D;
  color: #E5E4E2;
  text-align: center;
  margin-top: 1%;
  box-shadow: 5px 5px 1px .5px rgba(41, 41, 41, 0.2)
}

.movieFavButton{
  background-color: #14213D;
  color: #E5E4E2;
  text-align: center;
  margin-top: 1%;
  box-shadow: 5px 5px 1px .5px rgba(41, 41, 41, 0.2)
}

.musicFavButton{
  background-color: #14213D;
  color: #E5E4E2;
  text-align: center;
  margin-top: 1%;
  box-shadow: 5px 5px 1px .5px rgba(41, 41, 41, 0.2)
}

.gameFavImg{
  width: 40%;
  height: auto;
  border-radius: 10%;
  box-shadow: 12px 12px 2px 1px rgba(41, 41, 41, 0.2)
}

.musicFavImg{
  width: 40%;
  height: auto;
  border-radius: 10%;
  box-shadow: 12px 12px 2px 1px rgba(41, 41, 41, 0.2)
}